@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
}

* {
    font-family: RobotoRegular, sans;
    /* border: 1px red solid; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

#headerbox {
    color: white;
    background-color: rgb(49, 49, 58);
    margin: 20px 50px;

}
#headerbox h3 {
    text-align: center;
    padding: 20px 40px;
}

#menu {
    display: flex;
    justify-content: center;
    font-size: 12px;
    gap: 10px;
}

 #menu li {  
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
}

#menu li a {
    text-decoration: none;
    color: white;
}

#menu li a:visited {
    text-decoration: none;
    color: white;
}

#menu li a:hover {
    text-decoration: underline;
    color: white;
}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

#left-window {
    max-width: 50%;
    padding: 30px;
}

#awesome {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

#right-window {
    max-width: 40%;
}

#placeholder {
    height: 100px;
    background-color: gray;
    padding: 60px 80px;;
    text-align: center;
    align-content: center;
}


#contentbox h2 {
    text-align: center;
    margin-bottom: 30px;
}

#contentbox {
    max-width: 800px;
    margin-bottom: 50px;
}

#contentflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.info-text {
    width: 90%;
    margin: 10px;
}

.blue-border {
    border: 5px solid #007bff;
    width: 80%;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}

#quotebox {
    background-color: #e7e7e7;
    height: 200px;
    margin: 40px 50px;
    padding: 40px;
    text-shadow: gray;
    font-style: italic;
    color: #333;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#quotebox p {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 23px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 500px;
}

#quotebox p#signature {
    font-style: normal;
    font-weight: bold;
    color: #333;
    text-align: right;
}

#actionbox {
    color: white;
    background-color: #007bff;
    margin: 20px 200px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#actionbox button {
    border: 1px white solid;
    align-items: center;
}



button {
    background-color: #007bff; /* Bootstrap-like blue */
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.copyright {
    align-content: center;
    height: 50px;
    font-size: 15px;
    color: white;
    background-color: rgb(49, 49, 58);
    text-align: center;
    padding: 15px;
    margin: 0 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    width: 30%;
    padding: 1.5%;
    box-sizing: border-box;
}

