@font-face {
    font-family: RobotoRegular;
    src: url(fonts/Roboto-Regular.ttf);
}

* {
    font-family: RobotoRegular, sans;
    /* border: 1px red solid; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

#headerbox {
    color: white;
    background-color: rgb(49, 49, 58);
    margin: 20px 50px;

}
#headerbox h3 {
    text-align: center;
    padding: 20px 40px;
}

#menu {
    display: flex;
    justify-content: center;
    font-size: 10px;
    gap: 10px;
}

 #menu li {  
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

#left-window {
    max-width: 50%;
}

#awesome {
    font-size: 25px;
    font-weight: bold;
}

#right-window {
    max-width: 40%;
}

#placeholder {
    background-color: gray;
    padding: 60px 80px;;
    text-align: center;
}

/* li {

} */

#contentbox h2 {
    text-align: center;

}

#contentbox {
    max-width: 800px;
    margin-bottom: 50px;
}

#contentflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.blue-border {
    border: 5px solid #007bff;
    width: 80%;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}

#quotebox {
    background-color: rgb(212, 212, 212);
    margin: 40px;
    padding: 40px 100px;
    text-shadow: gray;
}

#actionbox {
    color: white;
    background-color: #007bff;
    margin: 20px 200px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
}

#actionbox button {
    border: 1px white solid;
}

.copyright {
    font-size: 10px;
    color: white;
    background-color: rgb(49, 49, 58);
    text-align: center;
    padding: 15px;
}

button {
    background-color: #007bff; /* Bootstrap-like blue */
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}